.carousel-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.carousel-items {
    display: flex;
    overflow: hidden;
    width: calc(100% - 100px); /* Zostaw miejsce na przyciski */
}

.carousel-item {
    flex: 0 0 25%; /* Każdy item ma 25% szerokości kontenera */
}

.carousel-button {
    width: 50px;
    /* Dalsze style dla przycisków */
}
