.search-form {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; /* Dodaje odstęp między elementami */
    margin-bottom: 1rem; /* Dodatkowy margines na dole formularza */
}

.search-select {
    flex-grow: 1; /* Pozwala selectom rozciągać się, by wypełnić dostępną przestrzeń */
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    appearance: none;
}

.search-button {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    white-space: nowrap; /* Zapobiega łamaniu tekstu na przycisku */
}

.search-button:hover {
    background-color: #0056b3;
}
